<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>     
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈페이지</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/mainpageStyle.css">
    
</head>
<body>
    <div id="wrap">
        <div id="upperMenu">
            <div id="logo"><a href="/mainpage">logo</a></div>
            <ul class="menu">
                <li><a href="/menu/gpt/gpt">GPT</a></li>
                <li><a href="/menu/map/map">Map</a></li>
                <li>
                    Game
                    <ul class="nav">
                        <li><a href="/menu/game/jumpGame">JumpGame</a></li>
                        <li><a href="/menu/game/tic_tac_toe">Tic-Tac-Toe</a></li>
                    </ul>
                </li> 
            </ul>
            <div id="button">button</div>
        </div>


        <div id="contents">
                
        </div>

        

        <div id="bottom">
            <b>주식회사</b> 쏘시리어스 SOSERIOUS Inc.<br>
            <b>대표이사</b> 송민근<br>
            <b>이메일</b> alsrms1592@gmail.com
        </div>
    </div>

    
</body>
</html>
