<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈페이지</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/subpageStyle.css">
</head>

<body>
    <div id="wrap">
        <div id="head">
            <div id="logo1">
                <a href="subpage"><img src="/static/media/logo.png" style="width:200px;height:175px;"></a>
            </div>
            <div id="menu">

            </div>
            <div id="logo2">

            </div>

        </div>

        <div id="slide">
            <div id="slide1">
                <img src="">
            </div>
            <div id="slide2">

            </div>
            <div id="slide3">

            </div>
        </div>
        <div id="foot">
            <div id="copyright1">

            </div>
            <div id="footer">

            </div>
            <div id="coptright2">
                <a href="/">여기를 누르면 초기화면으로 돌아갑니다</a>
            </div>
        </div>
    </div>
       



</body>
</html>
