<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈페이지</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/subpageStyle.css">
</head>

<body>

    <div id="wrap">
        <div id="upperMenu">
            
            <div id="logo">
                logo
            </div>

            <div id="button">
                button
            </div>
        </div>



        <video id="video" src="../static/media/SS.mp4" autoplay controls></video>


        <div id="bottom">
            <b>주식회사</b> 쏘시리어스 SOSERIOUS Inc.<br>
            <b>대표이사</b> 송민근<br>
            <b>주소</b> 대구광역시 동원로 11길 9 부성하우스<br>
            <b>대표번호</b> 010-8933-7128<br>
            <b>이메일</b> alsrms1592@gmail.com
        </div>

        
    </div>
       
   


</body>
</html>
